services:
  caddy:
    image: caddy:2.7.6
    container_name: caddy
    restart: unless-stopped
    env_file: .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - internal

  compritas:
    image: ghcr.io/joselo/compritas:develop
    container_name: compritas
    pull_policy: always
    networks:
      - internal
    volumes:
      - storage:/app/storage
    restart: always
    env_file: .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://compritas:4000/up"]
      interval: 10s
      timeout: 5s
      retries: 3
    expose:
      - "4000"
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  internal:

volumes:
  caddy_data:
  caddy_config:
  storage:

