SECRET_KEY_BASE=9QDz1lmx3qdOCPgiSAj5xpXgjwkrRQ/TWID7xRgu+QefpjRyaDDg/1GnSFRpBxnJ
PHX_HOST=compritas.test
DATABASE_URL=postgres://app_user:app_pass@host.docker.internal/app_db
FROM_EMAIL=deploy@localhost
SMTP_SERVER=host.docker.internal
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
STORAGE_PATH=/app/storage
